@charset "utf-8";
/**
* @author Gustavo Novaro <gnovaro@gmail.com>
* @version 1.60
*/
body{margin: 0px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:0.75em;}
img{border:none;}
.textWhite{color:#FFFFFF;}
.textoAzul{color:#0000FF;font-weight:bold;}
.barra{color:#999999; font-size:16px;}
.menuLeftBar{text-decoration:none;}
.menuLeftBar:hover{text-decoration:underline;}
.center{text-align:center;}
.no_underline{text-decoration:none;}
a{color:#0000FF;}
.box{
	margin-left:40%; 
	margin-top:25%;  
	z-index:1000; 
	position:absolute; 
	width:250px; 
	background:#D6DFF7; 
	padding:10px; 
	height:100px;
	-moz-border-radius:5px;	
	-webkit-border-radius:5px; /*Safary-Chrome*/
}
