/* CSS Document */
/**
* @author Gustavo Novaro
* @version 1.14
*/
body{
	margin: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}
img{border:none;}
.textWhite{color:#FFFFFF;}
.textoAzul{
	color:#0000FF;
	font-weight:bold;
}
.barra{
	color:#999999;
	font-size:16px;
}
.menuLeftBar{
	text-decoration:none;
}
.menuLeftBar:hover{
	text-decoration:underline;
}
.center{
	text-align:center;
}
.no_underline{
	text-decoration:none;
}
a{color:#0000FF;}
