@charset "utf-8";
/**
 * File Explorer XP 
 * @author Gustavo Novaro
 * @version 
 */
*{margin:0; padding:0}
body{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:0.75em;}
img{border:none;}
.textWhite{color:#FFFFFF;}
.barra{color:#999999; font-size:16px;}
.menuLeftBar{text-decoration:none;}
.menuLeftBar:hover{text-decoration:underline;}
.center{text-align:center;}
.no_underline{text-decoration:none;}
a{color:#0000FF;}
.box{
	margin-left:40%; 
	margin-top:25%;  
	z-index:1000; 
	position:absolute; 
	width:250px; 
	background:#D6DFF7; 
	padding:10px; 
	height:100px;
}
.radius{
-moz-border-radius:6px; 
-webkit-border-radius:6px; /*Safary-Chrome*/ 
-ms-border-radius:6px; /*IE*/ 
border-radius:6px; /*CSS 3.0 experimental only Firefox no IE*/
}
#header-bar, #address-bar, #status-bar{background:#EFEFE9;height:30px}
#header-bar-title{float:left; width:70%;}
#header-bar-button{float:right; width:29%; text-align:right}
#status-bar #objects{float:left; width:30%;}
#status-bar #about{float:right; width:70%; text-align:right}
.box-title{background:#FFF; height:25px}
.arrow{float:right;}
#details, #file-task{float:left; background:#D6DFF7; width:160px; margin:10px}
#file-task ul{list-style:none; padding:0px}
.textoAzul{color:#0000FF;font-weight:bold; float:left;}
